@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.judul {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    margin-top: 20px;
    padding: 20px;    
}

#dataJudul1,#dataJudul2 {
    font-family:Arial, Helvetica, sans-serif;
    color: #FFFFFF; 
}

.highlight1,.highlight2 {
    border : 4px solid red;
    background-color : #3D2314;
}

@media screen and (max-width:575px) {
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid red; /* Blue */
        border-bottom: 16px solid green; /* Blue */
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 2s linear infinite;  
        position: absolute;
        left: 35%;
        margin-top: -300px;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        border: 0px solid black;
        width : 100%;
        /*height : 400px;*/
        height : 675px;
        border-radius: 5px;
        /*background-color:#0bacc5;*/
        background-color:#2D5763;
        display : block;
        /*overflow :auto;*/
        }
    
        .header {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 50%;
            display : block;
            padding-top: 3px;
            /*border : 1px solid black;*/
        }
    
        .formulir {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 100%;
            display: block;
            /*border : 1px solid blue;*/
        }

        .headerImg {
            width : 97%;
            height : 97%;
            margin : 3px auto auto auto;
            display : block;
            border-radius: 5px;
        }
    
        .formTable{
            margin : 17px auto 2px auto;
            width : 100%;
            height: 100%;
            /*table-layout: fixed;*/
        }

        .formTable td {
            font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #FFFFFF;
            border-bottom-left-radius: 3px;
        }
    
        .formTable .line {
            border-bottom: 1.2px solid #FFFFFF;
            border-left:  1.2px solid #FFFFFF;
        }
    
        input[name="changeSat"] {
                width : 10%;
        }
    
        input[type="text"] {
            width : 100%;    
        }
    
        input {
                /*padding: 12px 20px;*/
                border-radius: 3px;
                margin: 8px 0;
                box-sizing: border-box;
                border: 0.2px solid #1CABE2;
                padding: 3px 5px;
                margin-bottom: 10px;
        }     
        
        input:focus {
            outline-color: #1c2525;
            background-color: #00416A;
            color : #FFFFFF;
            /*border : 1px solid red;*/
        }        
        #hitung {
            border : 0.5px solid whitesmoke;
            /*background-color: #00416A;*/
            background-color: #00416A;
            color : whitesmoke;
            padding: 7px 10px;
            /*display : inline-block;*/
            margin-top: 10px;
            float : right;
            /*box-shadow: 8px 16px 32px 8px rgba(111, 210, 223, 0.87), 0 12px 40px 0 rgba(17, 221, 95, 0.89);*/
            border-radius: 4px;
    }

    #reset {
        border : 0.5px solid whitesmoke;
        /*background-color: #ca3f3f;*/
        background-color: #1c2525;
        color : #FFFFFF;
        padding: 7px 10px;
        margin-top: 10px;
        float : right;
        /*box-shadow: 8px 16px 32px 8px rgba(190, 85, 85, 0.897), 0 12px 40px 0 rgba(209, 100, 93, 0.925);*/
        border-radius: 4px;
        margin-right: 2px;
    } 

    .resultTable, .resultTable th, .resultTable td{
        border: 1px solid #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #FFFFFF;
        max-width: 100%;
        overflow-x: auto;
        width : auto;

    }

.resultTable th, .resultTable td {
        padding : 20px;
}

#dataTabel1, #dataTabel2 {
        border-collapse: collapse;
}

#alert2Kelas {
    margin: 0px auto 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #0bacc5;
    margin-top: 20px;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #0bacc5; 
    background-color: #FFFFFF;
    text-align: center;
    max-width: 100%;
}

}

@media screen and (min-width:576px) {
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid red; /* Blue */
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 2s linear infinite;  
        position: fixed;
        left: 45%;
        margin-top: -200px;
    }

    .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 0px solid black;
    width : 50%;
    /*height : 400px;*/
    height : auto;
    border-radius: 5px;
    /*background-color: #1CABE2;*/
    background-color: #2D5763;
    display : flex;
    /*overflow :auto;*/
    }

    .header {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        /*height: 100%;*/
        height : auto;
        display : inline-block;
        /*border : 1px solid black;*/
    }

    .formulir {
        margin-left: auto;
        margin-right: auto;
        width: 58%;
        height: 100%;
        display: inline-block;
        /*border : 1px solid blue;*/

    }

    .headerImg {
        width : 90%;
        height : 90%;
        margin : 17px auto 0px auto;
        display : block;
        border-radius: 5px;
    }

    .formTable{
        margin : 17px auto 2px auto;
        width : 100%;
        height: 100%;
        /*table-layout: fixed;*/
    }

    .formTable td {
        font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #FFFFFF;
        border-bottom-left-radius: 3px;
    }

    .formTable .line {
        border-bottom: 1.2px solid yellow;
        border-left:  1.2px solid yellow;
    }

    input[name="changeSat"] {
            width : 10%;
    }

    input[type="text"] {
        width : 100%;    
    }

    input {
            /*padding: 12px 20px;*/
            border-radius: 3px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 0.2px solid #1CABE2;
            padding: 3px 5px;
            margin-bottom: 10px;
    }     
    
    input:focus {
        outline-color: green;
        background-color: yellow;
        /*border : 1px solid red;*/
    }        

    #hitung {
            border : 0.5px solid yellow;
            /*background-color: #00416A;*/
            background-color: #8E5125;
            color : #FFFFFF;
            padding: 7px 10px;
            /*display : inline-block;*/
            margin-top: 10px;
            float : right;
            /*box-shadow: 8px 16px 32px 8px rgba(111, 210, 223, 0.87), 0 12px 40px 0 rgba(17, 221, 95, 0.89);*/
            border-radius: 4px;
    }

    #reset {
        border : 0.5px solid yellow;
        background-color: #ca3f3f;
        color : #FFFFFF;
        padding: 7px 10px;
        margin-top: 10px;
        float : right;
        /*box-shadow: 8px 16px 32px 8px rgba(190, 85, 85, 0.897), 0 12px 40px 0 rgba(209, 100, 93, 0.925);*/
        border-radius: 4px;
        margin-right: 2px;
    } 

    .resultTable, .resultTable th, .resultTable td{
            border: 1px solid #FFFFFF;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: #FFFFFF;
            max-width: 100%;
            overflow-x: auto;
            width : auto;

        }
    
    .resultTable th, .resultTable td {
            padding : 20px;
    }
    
    #dataTabel1, #dataTabel2 {
            border-collapse: collapse;
    }
    
    #alert2Kelas {
        margin: 0px auto 0px auto;
        /*width: 40%;*/
        font-family: Arial, Helvetica, sans-serif;
        color:orangered;
        margin-top: 20px;
        padding: 20px;
        border-radius: 3px;
        border: 1px solid orangered; 
        background-color: #FFFFFF;
        text-align: center;
        max-width: 100%;
    }

}

