.kontainerBrown {
    /*background-color: #DBA797;*/
    background-color: #F5FBFF;
    width: 99%;
    height: 700px;
    display: block;
    position: static;
    border-radius: 4px;
    margin: auto auto;    
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
    border : 3px solid #4682B4;
}

span {
    font-family: 'Roboto', sans-serif;
    font-family: 'Smooch', cursive;
    padding-left: 10px;
    font-size: 30px;
    font-weight: 600;
    /*color : #490206;*/
    color : #4682B4;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    /*color : #490206;*/
    color : #4682B4;
    padding-left: 10px;

}

.menuPendataan, .menuScanning, .menuPendataan2, .menuScanning2  {
    display: inline-block;
    width: 48%;
    /*height : 200px;*/
    height : 200px;
    margin: auto auto;
    margin-bottom: 7px;
    border-radius: 4px;
}

.menuPendataan {
    /*background-color: #490206;*/
    background: radial-gradient(#551D0A, #2B0100);
}

.menuScanning {
    /*background-color: #900D09;*/
    background: radial-gradient(#832A22, #611811);
}

.menuPendataan2 {
    /*background-color: #490206;*/
    background: radial-gradient(#284847, #184831);
}

.menuScanning2 {
    /*background-color: #900D09;*/
    background: radial-gradient(#5A756E, #4A756E);
}

img {
    width : 70%;
    height: 70%;
    border-radius: 4px;
    padding-top: 8px;
}

.menuText {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 15px;
}

.menuText2 {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 19px;
}

.menuText2 a {
    color : #FFFFFF;
}

.menuText2 a:link { text-decoration: none; }


.menuText2 a:visited { text-decoration: none; }


.menuText2 a:hover { text-decoration: none; }


.menuText2 a:active { text-decoration: none; }

.menuPencarian1, .menuPencarian2, .menuPencarian3, .menuPencarian4, .menuPencarian5 {
    padding-top: 7px;
    display: inline-block;
    width: 96%;
    height : 30px;
    margin: auto auto;
    margin-bottom: 3px;
    border-radius: 4px;
}

.menuPencarian1 {
    background-color: #4682B4;
}

.menuPencarian2 {
    background-color: #152736;
}

.menuPencarian3 {
    background-color: #D4672A;
}

.menuPencarian4 {
    background-color: #296E01;
}

.menuPencarian5 {
    background-color: #9F2305;
}